<div class="container-fluid">
    <div class="row ">
        <div class="col-6">
            <div class="mt-4 p-5 bg-light rounded">
                <h1 class="text-primary text-center">Welcome to IT Bookstore</h1>
                <h4 class="text- text-center">IT, Programming and Computer Science Books</h4>
            </div>
        </div>
        <div class="col-6">
            <div id="card-img" class="card bg-dark text-dark">
                <img src="/assets/itbookstore.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="text- text-left mt-5">New Available Books</h4>

<app-books-list></app-books-list>